* {
    padding: 0;
    margin: 0;
    /* font-family: monospace; */
}
ul {
    list-style: none;
    background: black;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 20px 20px;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
}
ul li ul.film  {
    display: block;
}
ul li ul.film {
    width: 100%;
    background: rgb(0, 0, 0);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    background: black;
}
ul li:hover ul.film  {
    display: block;
}


*{
    padding: 0;
    margin: 0;
}
.wrapper{
    background-color: #1C1C22;
}
.custom-insta{
    vertical-align: -5px;
    padding-top: 4%;
    margin-right: 10px;
    color: white;
}
.insta-container{
    border-radius: 5px;
    background: linear-gradient(to right, #FA707A, #FA9870);
    height: 50px;
}
.tel-container{
    border-radius: 5px;
    background: linear-gradient(to right, #64BDE9, #91D3F4);
    height: 50px;
}
.custom-div{
    background-color: #2e2e39;
}
.custom-film{
    background-color: #323E31;
    color: #89D64F;
    font-size: 30px;
    border-radius: 5px;
    
}
.custom-h3 , .custom-arrow
{
    color:#959BA0 ;
}
.custom-div2{
    margin-top: 25px;
}
.custom-sound{
    background-color: #2D3348;
    color: #6898F8;
    font-size: 30px;
    border-radius: 5px;
}
.custom-gear{
    background-color: #463C25;
    color: #FFC107;
    font-size: 30px;
    border-radius: 5px;
}
.custom-btn{
    height: 30px;
    margin-left: 96px;
    border-radius: 10px;
    color: #86D04E;
    background-color: #2C3829;
}
.custom-gear1 , .custom-h5{
    color: #89D64F;
}
.custom-gear1{
    margin-top: 6px;
}
.custom-ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.custom-ul li{
    margin-left: 7px;
    margin-right: 7px;
}
.custom-ul li a{
    color: #959BA0;
    text-decoration: none;
}
.custom-p{
    font-size: 12px;
    color: #959BA0;
}
.custom-div3 {
    border-top: 1px solid #959BA0;
    display: flex;
    justify-content: center;
}
header{
    background-image: url('https://digimoviez.com/wp-content/uploads/2022/07/AaV1YIdWKnjAIAOe8UUKBFm327v-e1657627832652.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.aonvan{
    padding: 10px;
    display: flex;
    align-items: flex-start;
}
.aonvan h2{
    display: inline;
}
.at{
    display: flex;
     flex-wrap: wrap;
    margin-top: 10px;
}
.post-single-rate i {
    width: 31px;
    text-align: center;
    height: 32px;
}
.movie-poster-and-video {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.movie-poster {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
}

.movie-trailer {
    width: 100%;
    max-width: 300px;
}

.movie-info {
    flex: 1;
}
.story {
    flex: 1;
}

.story h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

.story p {
    font-size: 14px;
    line-height: 1.6;
}




.uptvs-big-play-btn {
        position: absolute;
        top: 0px;
        right: 0;
        height: 350px;
        margin-bottom: 0;
    }

.uptvs-big-play-btn {
    width: 100%;
    float: right;
    height: 300px;
    position: relative;
    z-index: 9;
    margin-bottom: 30px;
}

div {
    display: block;
    unicode-bidi: isolate;
}
.post-header {
    background-size: 100% auto;
    background: #111;
    overflow: hidden;
    color: #cbcfd3;
}
body {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 1.9;
    text-align: right;
    background-color: #101014;
}
body {
    font-family: IRANSans, 'IRANSans', Tahoma;
    font-size: 13px;
    line-height: 1.9;
    color: #bbc1c6;
    background-color: #fff;
}

html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
}
*{
    box-sizing: border-box;
}
